head
  title Vito
  meta(charset="UTF-8")
  meta(name="author" content="Jürgen Diez")
  meta(name="description" content=t("description"))
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href=assets("styles/styles.css"))
  script(src=assets("scripts/main.js") defer=true async=true)
