mixin icon(type, size)
  - const style = size ? `width:${size}px;height:${size}px` : null
  .icon(style=style)&attributes(attributes)
    svg(viewBox="0 0 16 16")
      use(xlink:href=`${assets("icons/icons.svg")}#icon-${type}`)
