mixin icon(type, size = 16)
  - const style = `width:${size}px;height:${size}px`
  .icon(style=style)&attributes(attributes)
    svg(viewBox=`0 0 16 16`)
      use(xlink:href=`${assets("icons/icons.svg")}#icon-${type}`)
